footer.footer.bg-blue.py-3.pb-sm-4.pt-sm-3
    .pb-2.text-white.text-center Este site não divulga operações policiais conforme previsto no 
        a.text-white(href='http://www.planalto.gov.br/ccivil_03/decreto-lei/del2848compilado.htm', 
                    target='_blank') artigo 265 do Código Penal
        = '.'
    .pb-2.text-white.text-center Este é um projeto independente e não possui vínculo com órgãos governamentais.
    
    .pb-2.text-white.text-center Este trabalho é licenciado sob 
        a.text-white(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/",
                    target='_blank') Creative Commons Attribution-ShareAlike 4.0 International License
        | .
    img.d-block.mx-auto(alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png")