footer.footer.bg-blue.pt-3.pb-2
    .px-5.text-white.text-center Este site não divulga operações policiais conforme previsto no 
        a.text-white(href='http://www.planalto.gov.br/ccivil_03/decreto-lei/del2848compilado.htm', 
                    target='_blank') artigo 265 do Código Penal
        = '.'
    .text-white.text-center Este é um projeto independente e não possui vínculo com órgãos governamentais.