//- includes/head.pug 

head
  title EPTC Live
  //- Twemoji
  script(src='https://twemoji.maxcdn.com/v/latest/twemoji.min.js', crossorigin='anonymous')
  
  //- Leaflet
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==', crossorigin='')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=', crossorigin='')  
  
  //- Bootstrap
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js', integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0', crossorigin='anonymous')
  
  //- Custom js
  script(src='public/javascripts/custom.js')

  //- Twitter
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  
  //- Custom Stylesheet
  link(rel='stylesheet', href='public/stylesheets/style.css')

  //- Favicon
  link(rel="shortcut icon", href="public/images/favicon.ico")

  meta(charset='utf-8')

  //- OpenGraph

  <meta property="og:site_name" content="EPTC Live" />
  <meta property=“og:title” content="Uma Porto Alegre em tempo real" />
  <meta property="og:description" content="Projeto Open Source para mapear os incidentes de trânsito atráves de tweets da EPTC." />
  <meta property="og:url" content="https://eptclive.herokuapp.com/" />
  <meta property="og:image" content="https://eptclive.herokuapp.com/public/images/og.png" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="640" />
  <meta property="twitter:card" content="cover_image" />
  <meta property="twitter:image" content="https://eptclive.herokuapp.com/public/images/og.png" />
