extends layout 

block content
            main
                section#map
                    .d-flex.align-items-sm-center.justify-content-lg-end.pt-2.pe-lg-2
                        ul#alert-list
                            
                            li#covid-alert.alert.alert-info
                                | Para informações sobre COVID-19 acesse o site neste 
                                a.alert-link(href='https://prefeitura.poa.br/coronavirus', target='_blank') link
                                |. 😷
                            li#metereological-alert.alert.alert-storm
                                | Alerta Laranja: Tempestade para hoje. ⛈
                            li#no-incident-alert.alert.alert-success Não localizamos nenhum incidente nas últimas 4 horas. 🔎

                    include card