html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
}

main {
    flex: 1;
    display: flex;
    flex-flow: column;
}

#map {
    flex: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.twitter-timeline {
    position: absolute !important;
    left: 10px !important;
    top: 10px !important;
    z-index: 1000;
    height: 96% !important;
    width: calc(1vw + 4rem);
}

#no-incident-alert {
    visibility: hidden;
}

#alert-list {
    list-style-type: none;
    z-index: 1001;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.semi-bold {
    font-weight: 600;
}

.bg-blue {
    background-color: #0052CC;
}

.text-blue {
    color: #0052CC;
}

.leaflet-popup-close-button {
    color: #f44336 !important;
    font-weight: 400 !important;
}

.ps {
    font-size: 0.75rem;
}

@media screen and (max-width: 719px) {
    #alert {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1023px){
    h1 { 
        font-size: 4.8rem; 
    }

    h2 { 
        font-size: 3.3rem; 
    }

    p  { 
        font-size: 2.25rem; 
    }

    .ps {
        font-size: 1.0rem;
    }

    .nav-link {
        font-size: 2.5rem;
    }

    .navbar-brand {
        font-size: 3.8rem;
    }

    .btn {
        font-size: 2.25rem;
    }

    figcapture {
        font-size: 2rem;
    }

    li {
        font-size: 2rem !important;
    }

    footer {
        font-size: 1.25rem !important;
    }

    .navbar-toggler {
        width: 6rem;
        height: 5rem;
    }

    .leaflet-popup-content-wrapper {
        font-size: 1.6rem;
        padding: 16px 16px 16px 16px;
    }

    .leaflet-popup-close-button {
        font-size: 2.5rem !important;
        padding: 16px 42px 0px 0px !important;
    }
}